---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import Spring from "./icons/Spring.astro";
import Java from "./icons/Java.astro";
import MySql from "./icons/MySql.astro";
import SqlServer from "./icons/SqlServer.astro";
import CSHARP from "./icons/CSHARP.astro";
import MongoDB from "./icons/MongoDB.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import JavaScript from "./icons/JavaScript.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import LinkButton from "./LinkButton.astro";
import Web from "./icons/web.astro";
import VerMas from "./VerMas.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#61dafb] text-black",
    icon: React,
  },
  SPRING: {
    name: "Spring Boot",
    class: "bg-[#009900] text-white",
    icon: Spring,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#f89820] text-white",
    icon: Java,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00758f] text-white",
    icon: MySql,
  },
  SQLSERVER: {
    name: "SQL Server",
    class: "bg-[#ff9933] text-white",
    icon: SqlServer,
  },
  CSHARP: {
    name: "C#",
    class: "bg-[#aa00ff] text-white",
    icon: CSHARP,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#4DB33D] text-white",
    icon: MongoDB,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#f06529] text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F0DB4F] text-black",
    icon: JavaScript,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#aa00ff] text-white",
    icon: Bootstrap,
  },
};
const PROJECTS = [
  {
    title: "Sistema de Venta de Cafe Online - Puma Café",
    description:
      "Aplicación web desarrollada para facilitar la compra y venta de café en línea. Incluye funcionalidades como gestión de productos, carrito de compras y administración de pedidos. Implementada con Java y Spring Boot en el backend, conectada a una base de datos MySQL para el manejo eficiente de información, y Bootstrap y JavaScript para un diseño responsivo e interactivo.",
    github: "https://github.com/Daniel-JA03/PumaCafe",
    image: "/projects/pumaCafe.webp",
    tags: [TAGS.SPRING, TAGS.JAVA, TAGS.MYSQL, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT],
  },
  {
    title:
      "Sistema de Compra y Venta de boletos de viajes terrestres online - ExpressPerú",
    description:
      "Plataforma diseñada para gestionar la compra y venta de boletos de transporte terrestre. Incluye funcionalidades para la reserva de asientos, gestión de rutas y horarios, y administración de usuarios. Desarrollada con Java y Bootstrap, con MySQL como base de datos para almacenar información de manera estructurada.",
    github: "https://github.com/Daniel-JA03",
    image: "/projects/expressperu.webp",
    tags: [TAGS.JAVA, TAGS.BOOTSTRAP, TAGS.MYSQL],
  },
  {
    title: "Sitio Web de ventas de vehiculos electricos - Zantra",
    description:
      "Página web enfocada en la promoción y venta de vehículos eléctricos. Desarrollada con HTML, CSS y JavaScript, cuenta con un diseño atractivo y responsivo que resalta las características de los productos y ofrece una experiencia de usuario intuitiva.",
    link: "https://zantra.netlify.app/",
    github: "https://github.com/Daniel-JA03/Zantra-2.0",
    image: "/projects/zantra.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap mb-2 gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github} target="_blank">
                  <GitHub class="size-6"/>
                  Código
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link} target="_blank">
                  <Web class="size-6" />
                  Ir al sitio
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }

<VerMas href="https://github.com/Daniel-JA03?tab=repositories">
  Ver Más{" "}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-5 icon icon-tabler icon-tabler-chevron-right"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M9 6l6 6l-6 6"></path>
  </svg>
</VerMas>

</div>
